//Import bootstrap here 
@import "../node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');
//Add custom code here for bootstrap.
body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

a.download {
    color: #120202;
}
.hundo {
    height: 97vh;
    padding-bottom: 2em;
    background-image: url("../images/back.png");
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.m-center {
    height: 100%;
    margin-top: 40vh;
}

.bi-arrow-down {  
    height: 100%;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;
}
.bi-arrow-down:hover {
    color: rgb(0, 89, 255);
}

.top-background {
    height: 50vh;
    background-image: url("../images/back.png");
    background-position: bottom;
    background-size: cover;
}
.bottom-background {
    background-image: url("../images/backbottom.png");
    background-position: top;
    background-size: cover;
}
#projects .card {
    width: 20rem;
}
.card {
    margin: 1em auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.card-text {
    font-size: 300;
}
.blog-img {
    background-image: url("../images/firstblog.png");
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.center-this {
    text-align: center;
}
// #7899ad
.theme-green {
    background-color: #cbe8fa;
}
#projects .col-sm {
    margin: 0.5em;
}
.about-contact {
    background-image: url("../images/backbottom.png");
    background-position: top;
    background-size: cover;

}
.about {
    max-width: 900px;
    background: url('../images/transparent.png') repeat center top;
}
#contact .card {
    display: contents;
}
nav {
    font-weight: 700;
}

.social-media {
    width: 30px;
    margin-right: .5em;
}

h1, h2 {
    font-weight: 900;
}
img {
    width: 100%;
    height: auto;
}
label {
    padding: 0.4em 0.4em 0.4em 0;
}
a:link {
    color: #fff;
    text-decoration: none;
}

  /* visited link */
a:visited {
    color: #fff;
    text-decoration: none;
}

  /* mouse over link */
a:hover {
    color: #fff;
    text-decoration: none;
}

  /* selected link */
a:active {
    color: #fff;
    text-decoration: none;
}

a.download:link, a.download:visited, a.download:hover, a.download:active {
    color: #120202;
}


//button to top css
#btn-back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-weight: 900;
    z-index: 50;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
form span {
    color: red;
}
.thanks {
    font-size: 1.5em;
    font-weight: bold;
    display: none;
}

